* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  scroll-behaviour: smooth;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(
    to right,
    rgb(103, 103, 177),
    rgb(181, 181, 223)
  );
  padding: 0 !important;
}

.navbar-brand {
  color: white !important;
  font-weight: 600;
}

.navbar-nav li {
  padding: 10px;
}

.navbar-nav li a {
  color: white !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.fa-bars {
  color: white;
  font-size: 30px !important;
}

.navbar-toggler {
  outline: none !important;
}

/*-------------banner section---------------*/

#banner {
  /*background-image: linear-gradient(
    to right,
    rgb(103, 103, 177),
    rgb(181, 181, 223)
  );*/
  color: blueviolet;
  padding-top: 2%;
}

.title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}

/*-------About Me--------*/

#aboutme {
  font-size: 18px;
  padding: auto;
  text-align: justify;
}

.aboutme h4 {
  color: rgb(29, 27, 27);
  font-size: 20px;
}

/*--------------Projects-----------------*/
#projects {
  font-size: 18px;
  padding-bottom: 50px;
  padding-top: 50px;
  color: rgb(29, 27, 27);
}

.project-img {
  margin-top: 20px;
  padding-bottom: 20px;
}

/*-----------Contact-----------*/

#contact {
  background: #f8f9fa;
  padding: 50px;
}

.social-icons {
  width: 20px;
  padding-top: 20px;
}

.social-icons a:hover img {
  transform: translateY(-10px);
}
